body,
html {
  margin: 0;
  height: 100%;
  position: relative;
  padding-top: 1em;
  padding-left: 1em;
  box-sizing: border-box;
}

body {
  overflow: auto;
}

body > div + div {
  margin-top: 1em;
}

.divisions li.highlight {
  background: red;
}

.divisions {
  display: flex;
}

.divisions .clickable:hover {
  background: #4080f020 !important;
  cursor: pointer;
}

.keyboard {
  position: relative;
  width: calc(7 * 9 * 0.7em);
  height: 3em;
  margin: 0.25em;
  background: #66000010;
  border-radius: 5px;
}

.keyboard div.black {
  z-index: 2;
}

.keyboard div.black,
.keyboard div.white {
  position: absolute;
  top: 0;
  left: 0;
}

.keyboard div.black {
  top: 2px;
}

.keyboard div.black .key {
  border-top: 0px;
}

.keyboard div.white {
  border-top: 2px solid red;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.key {
  display: inline-block;
  width: 0.7em;
  border: 1px solid gray;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.key + .key {
  border-left: 0px;
}

.key.white {
  background: white;
  height: 4em;
}

.key.black {
  background: black;
  height: 2.75em;
}

.key1 {
  margin-left: calc(1px + 0.25em);
}

.key3 {
  margin-right: calc(1px + 0.75em);
}

.key10 {
  margin-right: 0.25em;
}

.key.pressed {
  background: lime;
}

g.prominent,
g:hover {
  fill: black;
}

g {
  fill: grey;
  cursor: pointer;
}

svg g path.highlight {
  fill: #996666;
}

g.prominent path.highlight,
g:hover path.highlight {
  fill: red;
}

input[type="range"] {
  vertical-align: middle;
}


#bpm, #divisions {
  width: 4em;
}