body,
html {
  padding: 0;
  margin: 0;
  background: darkblue;
}

body {
  display: block;
  width: 960px;
  min-height: 100vh;
  margin: auto;
  background: white;
  padding: 1em 2em;
  box-sizing: border-box;
}

body {
  overflow: auto;
}

body > div + div {
  margin-top: 1em;
}

input[type="range"] {
  vertical-align: middle;
}

#bpm,
#divisions {
  width: 4em;
}

button.chorus.enabled {
  background: #2fb1db;
  color: white;
}

.controls *:focus {
  outline: 2px solid red !important;
}

.flex {
  display: flex;
}
