body,
html {
  margin: 0;
  height: 100%;
  position: relative;
  padding-top: 1em;
  padding-left: 1em;
  box-sizing: border-box;
}

body {
  overflow: auto;
}

.highlight {
  background: red;
}

.divisions {
  display: flex;
}
