#metronome {
  --dim: 15em;
  width: var(--dim);
  height: var(--dim);
}

#metronome g.prominent,
#metronome g:hover {
  fill: black;
}

#metronome g {
  fill: grey;
  cursor: pointer;
}

#metronome g path.active {
  fill: #8234c1;
}

#metronome g path.active.highlight {
  fill: #4673a4;
}

#metronome g.prominent path.highlight,
#metronome g:hover path.highlight {
  fill: #00dbff;
}
